@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

.ant-layout-header{
  background-color: #2B333A !important;
  border-bottom: solid 2px #F06543;
  height: 75px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-layout-footer{
  background-color: #2B333A !important;
  border-top: solid 2px #F06543;
  height: 75px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #E8E9EB !important;
}

.menu{
  display: flex;
  align-items: center !important;
  height: 100%;
  background-color: rgba(252, 252, 252, 0) !important;
}

.ant-menu-item{
  height: 100% !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 25px !important;
}

.ant-menu-item-active{
  text-decoration: underline;
  background-color: #878d92 !important;
}

h1, h2{
  font-family: "Lato" !important;
  color: #E8E9EB !important;
  
}

h2{
  font-size: 40px;
  border-bottom: solid 2px #F06543;
  width: 30%;
  margin: 0 0 100px 40px !important;
}

h3{
  font-size: 35px;
  color: #E8E9EB !important;
  border-bottom: solid 2px #F06543;
  width: 30%;
}

.hero{
  padding: 75px 0 10px 0;
  background-color: #2B333A;
  position: relative;
}

.img{
  position: absolute;
  right: 30px;
  top: 15px;
}

.title{
  padding: 0 40px;
  font-size: 64px;
}

.title--content{
  color: #F06543 !important;
  font-size: 75px;
  text-align: center;
}

.title--table{
  font-weight: normal;
  width: 80%;
  margin: 10px 0 10px 20px;
}

.main{
  height: 100%;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flyout--Table{
  background-color: #2B333A;
  border-top: solid #F06543 2px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 40px 0;
}

.flyout--Table > ul{
  width: 90%;
}

li{
  list-style: none;
  color: #E8E9EB;
}

.button-arrow{
  position: absolute;
  height: 40px;
  right: 1.5%;
  top: 25%;
}

.folded{
  display: none;
}

.text-small{
  font-size: 16px;
}

.text-large{
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.education-container{
  position: relative;
  padding: 0 0 10px 0;
  margin: 0 15px 0 0;
  border-bottom: solid 1px #F06543;
}

.outline-right{
  text-align: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

ul{
  padding: 0;
  margin: 0 0 0 20px;
}

.icon{
  padding: 0 10px 0 0;
  height: 20px;
}

.projects{
  display:  flex;
  flex-direction: column;
  align-items:  center;
  justify-content: center;
  margin: 200px 0;
}

.container--card{
  display:  flex;
  align-items: center;
  justify-content: center;
}

.container--card > .ant-card{
  margin: 0 50px;
  height: 25vh;
}

.Card{
  border-bottom: solid 2px #F06543;
  background-color: #2B333A;
  color: #E8E9EB;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card > img{
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.Card > h3{
  width: 90%;
}

.Card:hover{
  box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.66);
}

.ant-modal{
  width: 70vw !important;
}

.ant-modal-body > img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  text-align: center;
}

.text--content{
  width: 90%;
}

.modal--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  font-size: 24px;
}