@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.ant-layout-header{
  background-color: #2B333A !important;
  border-bottom: solid 2px #F06543;
  height: 75px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  display: flex;
  align-items: center !important;
  height: 100%;
  background-color: rgba(252, 252, 252, 0) !important;
}

.ant-menu-item{
  height: 100% !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 25px !important;
}

.ant-menu-item-active{
  text-decoration: underline;
  background-color: #878d92 !important;
}

h1, h2{
  font-family: "Lato" !important;
  color: #E8E9EB !important;
  
}

h2{
  font-size: 40px;
  border-bottom: solid 2px #F06543;
  width: 30%;
  margin: 0 0 100px 40px !important;
}

h3{
  font-size: 35px;
  color: #E8E9EB !important;
  border-bottom: solid 2px #F06543;
  width: 30%;
}

.hero{
  padding: 75px 0 10px 0;
  background-color: #2B333A;
  position: relative;
}

.img{
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.title{
  padding: 0 40px;
  font-size: 64px;
}

.title--content{
  color: #F06543 !important;
  font-size: 75px;
  text-align: center;
}

.title--table{
  font-weight: normal;
  width: 15%;
  margin: 10px 0 0 20px;
}

.main{
  height: 100%;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flyout--Table{
  background-color: #2B333A;
  border-top: solid #F06543 2px;
  width: 80vw;
  margin: 0 0 40px 0;
}

li{
  list-style: none;
  color: #E8E9EB;
}